* {
  font-family: sans-serif;
}

.background-color {
  background-color: #562b80;
  color: #fff;
}

img,
input,
textarea {
  width: 100%;
  border-radius: 5px;
  border-width: thin;
  font-size: 16px;
  padding: 0.5rem 5px;
}

main {
  background-color: #f0f0f0;
}

.flex-end {
  justify-content: flex-end;
}

.submitbutton {
  margin-top: 1rem;
  padding: 7px 18px;
  font-size: 20px;
  border-radius: 5px;
}
