* {
  font-family: sans-serif;
}

body {
  background-color: #f0f0f0;
}

.background-color {
  background-color: #562b80;
  color: #fff;
}

img,
input,
textarea {
  width: 100%;
  border-radius: 5px;
  border-width: thin;
  font-size: 16px;
  padding: 0.5rem 5px;
}

.flex-end {
  justify-content: flex-end;
}

.submitbutton {
  margin-top: 1rem;
  padding: 7px 18px;
  font-size: 20px;
  border-radius: 5px;
}

.align-items {
  align-items: center;
}

.padding-left {
  padding-left: 1rem;
}

.space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.no-pad {
  padding: 0;
}

ul {
  list-style-type: none;
}

.click,
i:hover {
  cursor: pointer;
}

.click,
i:active {
  transform: translateY(0.2rem);
}

a {
  text-decoration: none;
  color: #fff;
}

.title-edit {
  display: flex;
  justify-content: space-between;
}
